.title{
  text-align: center;
  margin: 15px 15px 15px 15px;
  color: #2B174F;
}

.auction-list{
  display: grid;
  gap: 20px;
  grid-template-columns: repeat(auto-fit, 300px);
  justify-content: center;
}

.action{
  width: 100%;
}

ul.item {
  list-style-type: none;
}

.mat-card {
  margin: 30px !important;
}
